/* You can add global styles to this file, and also import other style files */
:root {
  --color-1: #082032;
  --color-2: #2c394b;
  --color-3: #334756;
  --color-4: #ff4c29;
}

@font-face {
  font-family: "space_monoregular";
  src: url("spacemono-regular-webfont.woff2") format("woff2"),
    url("spacemono-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "space_monoregular", "Courier New", Courier, monospace;
}

a {
  color: var(--color-4);
  text-decoration: none;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2.5em;
  color: var(--color-3);
  margin-top: 0.5em;
}

p {
  font-size: 1.5em;
}

select {
  background-color: var(--color-2);
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1em;
  color: white;
}

body {
  padding-left: 5vh;
  padding-right: 5vh;
  background-color: var(--color-1);
  color: white;
}

header {
  /* background-color: #334756; */
  padding-top: 10vh;
  padding-bottom: 5vh;
}

main p {
  padding-bottom: 1em;
}

main p em {
  font-weight: bold;
}

footer {
  text-align: center;
  margin-bottom: 2vh;
}

footer p {
  font-size: small;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
